.body {
  margin: 20px
}

.char-tile {
  border-radius: 2px;
  margin: 10px;
  width: 75px;
  height: 100px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.char-tile-header {
  background: #bcd9ff;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

.char-tile-body {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}
